black
coverage
ipykernel
lz4
msgpack
pre-commit
pytest
sklearn
sphinx_rtd_theme
https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl; sys_platform == "linux"
https://download.pytorch.org/whl/cpu/torch-1.0.1-cp36-cp36m-win_amd64.whl; sys_platform == "windows"
torch; sys_platform == "darwin"
torchvision
websocket_client
websockets
zstd
